*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #000;
    color: #666;
    text-align: center;
}
audio{
    width: 450px;
    margin: 30px 0;
}
.container{
    /*left: 32%;*/
    /*position: absolute;*/
    /*top: 32%;*/
    height: calc(100vh - 100px);
    overflow: hidden;
}
.container ul{
    margin-top: 200px;
    transition: 0.2s;
}
.container li{
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    transition: 0.6s;
}
.container li.active{
    color: #fff;
    transform: scale(1.2);
}
body, html {
    height: 100%;
}

.button {
    width: 200px;
    height: 100%;
    margin: 0 auto 0;
    /*-webkit-perspective: 100;*/
    -webkit-backface-visibility: hidden;
    /*background: #fff;*/
}

.button {
    position: relative;
    top: 10%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 1.3em;
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 50%;
    background: #5a99d4;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
    -webkit-animation: pulse 1.5s infinite;
}

.button:active{
    background-color: #666666;
}
.button:hover {
    -webkit-animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}
